<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="{:config('static_admin')}/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{:config('static_admin')}/js/jquery.js"></script>
    <script type="text/javascript">
    $(function() {
        //导航切换
        $(".menuson li").click(function() {
            $(".menuson li.active").removeClass("active")
            $(this).addClass("active");
        });

        $('.title').click(function() {
            var $ul = $(this).next('ul');
            $('dd').find('ul').slideUp();
            if ($ul.is(':visible')) {
                $(this).next('ul').slideUp();
            } else {
                $(this).next('ul').slideDown();
            }
        });
    })
    </script>
</head>

<body style="background:#f0f9fd;">
    <div class="lefttop"><span></span>※ 控制面板 ※</div>
    <dl class="leftmenu">
        <dd>
            <div class="title">
                <span><img src="{:config('static_admin')}/images/leftico01.png" /></span>用户管理
            </div>
            <ul class="menuson">
                <li>
                    <cite></cite><a href="{:url('/admin/user/index')}" target="rightFrame">用户列表</a><i></i></li>
                <li>
                    <cite></cite><a href="{:url('/admin/user/add')}" target="rightFrame">添加用户</a><i></i></li>
            </ul>
        </dd>
        <dd>
            <div class="title">
                <span><img src="{:config('static_admin')}/images/leftico01.png" /></span>权限管理
            </div>
            <ul class="menuson">
                <li>
                    <cite></cite><a href="{:url('/admin/auth/index')}" target="rightFrame">权限列表</a><i></i></li>
                <li>
                    <cite></cite><a href="{:url('/admin/auth/add')}" target="rightFrame">添加权限</a><i></i></li>
            </ul>
        </dd>
         <dd>
            <div class="title">
                <span><img src="{:config('static_admin')}/images/leftico01.png" /></span>角色管理
            </div>
            <ul class="menuson">
                <li>
                    <cite></cite><a href="{:url('/admin/role/index')}" target="rightFrame">角色列表</a><i></i></li>
                <li>
                    <cite></cite><a href="{:url('/admin/role/add')}" target="rightFrame">添加角色</a><i></i></li>
            </ul>
        </dd>
               

     
        
    </dl>
</body>

</html>
