<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="{:config('static_admin')}/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{:config('static_admin')}/js/jquery.js"></script>
    <style>
        .active{
            border-bottom: solid 3px #66c9f3;
        }
    </style>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">表单</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span class="active">基本信息</span>
        </div>
        <form action="" method="post">
            <!-- 隐藏域携带编辑的主键字段 -->
            <input type="hidden" name="attr_id" value="{$attrData['attr_id']}">
            <ul class="forminfo">
                <li>
                    <label>属性名称</label>
                    <input name="attr_name" value="{$attrData['attr_name']}" placeholder="请输入属性名称" type="text" class="dfinput" /><i></i>
                </li>
                 <li>
                    <label>所属商品类型</label>
                    <select class="dfinput" name="type_id">
                        <option value=''>请选择</option>
                        {foreach name="types" item="v"}
                            <option value="{$v['type_id']}">{$v['type_name']}</option>
                        {/foreach}
                    </select>
                </li>
                <li>
                    <label>属性类型</label>
                    唯一属性 <input type="radio" name="attr_type" value="0" style="margin-right:10px">
                    单选属性 <input type="radio" name="attr_type" value="1">
                </li>
                <li>
                    <label>属性录入方式</label>
                    手工输入 <input type="radio" name="attr_input_type" value="0" style="margin-right:10px" >
                    列表选择 <input type="radio" name="attr_input_type" value="1">
                </li>
                <li>
                     <label>属性值</label>
                     <textarea name="attr_values" class="textinput" >{$attrData['attr_values']}</textarea><i>多个属性值用|分隔</i>
                </li> 
                
            </ul>
            
			<li>
                    <label>&nbsp;</label>
                    <input name="" id="btnSubmit"  type="submit" class="btn" value="确认保存" />
            </li>
        </form>
    </div>
</body>
<script>
    //获取属性的商品类型,设置属性的所属商品类型默认选中
    var type_id = "{$attrData['type_id']}";
    $("select[name='type_id']").val(type_id);

    //获取属性类型和属性的录入方式
    var attr_type = "{$attrData['attr_type']}";
    var attr_input_type = "{$attrData['attr_input_type']}";

    //设置属性的类型单选框默认选中状态
    $('input[name="attr_type"][value="'+ attr_type +'"]').attr('checked',true);
    $('input[name="attr_input_type"][value="'+attr_input_type+'"]').attr('checked',true);

    //如果是属性的录入方式为手工输入（0），属性值不可用，否则1可用
    $("textarea[name='attr_values']").attr('disabled',attr_input_type==0?true:false);
    
    //给属性录入方式的单选框绑定单击事件
    $("input[name='attr_input_type']").click(function(){
        var val = $(this).val(); //获取当前点击的单选框的value的值
        if(val == 0){
            //手工输入，让属性值文本域不可用
            $("textarea[name='attr_values']").attr('disabled',true).val('不可用');
        }else{
            //列表选择,让属性值文本域可用
            $("textarea[name='attr_values']").attr('disabled',false).val('');
        }
    });

</script>

</html>
